@import '../../../CSS/variables.scss';

table {
  border-collapse: collapse;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 20px 0;
  td {
    padding: $box-margin $box-padding;
  }
  thead {
    tr {
      background-color: $theme-blue;
      color: $theme-white;
      white-space: nowrap;
    }
  }
  tbody {
    tr {
      &:nth-of-type(n) {
        background-color: rgb(238, 238, 238);
      }
      &:nth-of-type(2n) {
        background-color: rgb(223, 223, 223);
      }
    }
    .editor {
      height: 100px;
      column-span: all;
      display: none;
    }
    .icon {
      svg {
        cursor: pointer;
      }
    }
    .delete {
      svg {
        fill: red;
      }
    }
  }
} 