@import "../../../CSS/variables.scss";

.form {
  .form-row {
    margin: 20px 0;
    width: 100%;
    div {
      width: 100%;
    }
  }
  button {
    background-color: $theme-blue;
    color: white;
    font-size: $button-font-size;
    transition: .1s;
    &:hover {
      background-color: $theme-blue-lighter;
    }
  }
}