@import "../../CSS/variables.scss";

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: $theme-white;
    .css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
      color: $theme-black;
    }
  }
  color: $theme-black;
  .navbar-link {
    button {
      color: $theme-black !important;
    }
  }
}
