.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: white;
    button {
      color: black !important;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}