@import './variables.scss';

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $theme-white;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $theme-black;
}

.App {
  width: 100%; 
  max-width: 1200px;
  padding: 0 $box-padding;
  padding-top: 100px;
  text-align: center;
  h1 {
    margin-bottom: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
