$box-padding: 20px;
$box-margin: 10px;
$theme-black: #090c02;
$theme-red: #D71440;
$theme-red-darker: #c2113a;
$theme-blue: #1A1C63;
$theme-blue-lighter: #3e66bb;
$theme-white: #FBF5F3;
$button-font-size: 0.8rem;
$border-radius: 5px;