$box-padding: 20px;
$box-margin: 10px;
$theme-black: #090c02;
$theme-red: #d71440;
$theme-red-darker: #c2113a;
$theme-blue: #1a1c63;
$theme-blue-lighter: #3e66bb;
$theme-white: #fbf5f3;
$button-font-size: 0.8rem;
$border-radius: 5px;
