@import "../../../CSS/variables.scss";

.space {
  flex: 1;
  margin-left: 20px;
  text-align: left;
  h3 {
    padding: 5px 10px;
    border-radius: $border-radius;
    border: 2px solid $theme-blue;
    width: fit-content;
    color: $theme-blue;
  }
  .form {
    .form-row {
      margin: 20px 0;
      width: 100%;
      div {
        width: 100%;
      }
    }
    button {
      background-color: $theme-blue;
      color: white;
      font-size: $button-font-size;
      transition: .1s;
      &:hover {
        background-color: $theme-blue-lighter;
      }
    }
  }
}