@import "../../../CSS/variables.scss";

.space {
  flex: 1;
  margin-left: 20px;
  text-align: left;
  h3 {
    padding: 5px 10px;
    border-radius: $border-radius;
    border: 2px solid $theme-blue;
    width: fit-content;
    color: $theme-blue;
  }
  .file-input {
    margin-bottom: 20px;
  }
  .space-content {
    margin-top: 20px;
    & > * {
      margin-top: 20px;
    }
    .datetimepicker {
      max-width: 300px;
    }
    button {
      margin-right: 20px;
    }
    .btn-primary {
      background-color: $theme-blue;
    }
    .btn-danger {
      background-color: $theme-red;
    }
  }
}