@import '../../CSS/variables.scss';

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  .form {
    box-shadow: 0px 5px 20px -5px rgb(0, 0, 0, 0.2);
    border-radius: $border-radius;
    padding: $box-padding;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .row {
      margin-bottom: $box-padding;
      * {
        text-align: left;
        width: 100%;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    button {
      background: $theme-blue;
    }
  }
}